*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    background-color: grey;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding: 1vw;
    row-gap: 1vw;
}

h2{
    background-color: #5cd8a4;
    margin: -1vw;
    margin-bottom: 1vw;
    padding: 1vw;
}

#name, #email, #submit{
    height: 5vh;
}

#submit {
    background-color: #5cd8a4;
    color: white;
    
}

#submit:hover{
    background-color: #207552;
}